.container {
  display: flex;
  height: 100vh;
}

.left {
  width: 10%;
  min-width: 280px;
  border-right: 1px solid #ddd;
  overflow-y: auto;
  flex: 1
}

.right {
  flex: 15;
  padding: 1.5rem;
  overflow-y: auto;
}
